@import url("fonts/stylesheet.css");

:root {
  --GREY: #9d9d9d;
  --BLUE: #1275b9;
  --WHITE: #ffffff;
  --HOVER: #2a69a6;
  --BLACK: #000000;
  --CONTAINER: 1098px;
}
body,
input,
button,
textarea {
  font-family: "Proxima Nova";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: var(--CONTAINER);
  margin-left: auto;
  margin-right: auto;
}

.section {
  background-color: var(--WHITE);
  padding: 108px 24px 73px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 -32px;
  flex-wrap: wrap;
}

.features-list__item {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.feature-card {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-card__icon-wrapper {
  border: 2px solid var(--BLUE);
  border-radius: 50%;
  width: 65px;
  height: 63px;
  background-color: var(--WHITE);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--WHITE);
  margin: auto;
}

.feature-card__icon-wrapper:not(:hover) {
  background-color: var(--BLUE);
  fill: #2a69a6;
}

.feature-card__icon--plane {
  position: relative;
  top: -1px;
}

.feature-card__title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 28px;
  color: var(--BLACK);
}

.feature-card__description {
  font-size: 14px;
  line-height: 1.72;
  text-align: center;
  color: var(--GREY);
}
