.header {
  text-align: center;
  max-width: 470px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.header__title {
  font-size: 90px;
  font-weight: 700;
}
.header__text {
  font-family: $base-font;
  font-size: 17px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
}
