<section class="contact">
    <header class="contact__header">
        <h2 class="contact__heading">Contact</h2>
        <span class="contact__title">For new projects, ideas, business or anything
            you'd like to discuss, contact with me!</span>
    </header>
    <div class="contact__two-section">
    <form class="contact__form" action="">
        <input placeholder="Your name..." class="contact__input" type="text">
        <input placeholder="Your email..." class="contact__input" type="email">
        <input placeholder="Your phone number..." class="contact__input" type="tel">
        <textarea placeholder="Your message..." class="contact__input contact__input--large"></textarea>
    </form>
    <ul class="contact__my-contact">
        <li class="contact__name-data">ADDRESS</li>
        <li class="contact__text-data">123 City name, Street, City, Country</li>
        <li class="contact__name-data">EMAIL</li>
        <li class="contact__text-data">cahee@domain.com</li>
        <li class="contact__name-data">PHONE</li>
        <li class="contact__text-data">+012 345 6789</li>
    </ul>
</div>
</section>
