<section class="bluberry">

    <ul class="bluberry__object">
    <li><h2 class="bluberry__title">Subscribe To Us</h2></li>
    <li><span class="bluberry__text"> Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span></li>
</ul>
<div class="bluberry__interactive">
    <form class="bluberry__drop" action="">
        <input class="bluberry__drop-email" type="email" placeholder="Your email address...">
    </form>
    <div class="bluberry__button">
        <button class="bluberry__button-text">SUBSCRIBE</button>
    </div>
</div>
</section>