//COLORS
$active-entry-field-color: #355b82;
$footer-text-color: #b9b9b9;
$footer-bg-color: #262626;
$entry-field-color: rgba(0, 196, 196, 0.5);
$text-color: #ffffff;

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;500;700&display=swap");
$footer-logo-font: "Pacifico", cursive;
$base-font: "Raleway", sans-serif;
